# Milestone 2 Model Inference

Nama: Rif'at Syauqi Pahad  
Batch: RMT-040

In [1]:
# Import libraries and the model
import pandas as pd
import numpy as np
import pickle

# Load files
with open('model_dt.pkl', 'rb') as model_file:
    best_dt_model = pickle.load(model_file)

In [2]:
# Membuat Data Inference
df_inf = {'season_1': 2024, 
          'season_2': '2023-24', 
          'team_id': 1610612742, 
          'team_name': 'Dallas Mavericks', 
          'player_id': 1629029,
          'player_name': 'Luka Doncic', 
          'position_group': 'G', 
          'position': 'PG', 
          'game_date': '3/12/2024', 
          'game_id': 22300769,
          'home_team': 'GSW',
          'away_team': 'DAL', 
          'action_type': 'Running Jump Shot',
          'shot_type': '3PT Field Goal', 
          'basic_zone': 'Above the Break 3', 
          'zone_name': 'Right Side Center', 
          'zone_abb': 'RC', 
          'zone_range': '24+ ft.',
          'loc_x':-20.5, 
          'loc_y': 26.25, 
          'shot_distance': 25, 
          'quarter': 4, 
          'mins_left': 3, 
          'secs_left': 56}

# Convert menjadi dataframe
df_inf = pd.DataFrame([df_inf])
df_inf

,season_1,season_2,team_id,team_name,player_id,player_name,position_group,position,game_date,game_id,...,basic_zone,zone_name,zone_abb,zone_range,loc_x,loc_y,shot_distance,quarter,mins_left,secs_left
0,2024,2023-24,1610612742,Dallas Mavericks,1629029,Luka Doncic,G,PG,3/12/2024,22300769,...,Above the Break 3,Right Side Center,RC,24+ ft.,-20.5,26.25,25,4,3,56

In [3]:
# Merubah Value dalam kolom shot_type
df_inf['shot_type'] = df_inf['shot_type'].apply(lambda x: 3 if x == '3PT Field Goal' else 2)

In [4]:
# merubah tipa data game_date menjadi date and time
df_inf['game_date'] = pd.to_datetime(df_inf['game_date'], format='mixed', dayfirst=True)
df_inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   season_1        1 non-null      int64
 1   season_2        1 non-null      object
 2   team_id         1 non-null      int64
 3   team_name       1 non-null      object
 4   player_id       1 non-null      int64
 5   player_name     1 non-null      object
 6   position_group  1 non-null      object
 7   position        1 non-null      object
 8   game_date       1 non-null      datetime64[ns]
 9   game_id         1 non-null      int64
 10  home_team       1 non-null      object
 11  away_team       1 non-null      object
 12  action_type     1 non-null      object
 13  shot_type       1 non-null      int64
 14  basic_zone      1 non-null      object
 15  zone_name       1 non-null      object
 16  zone_abb        1 non-null      object
 17  zone_range      1 non-null      object
 18  loc_x           1 non-null      float64
 19  loc_y           1 non-null      float64
 20  shot_distance   1 non-null      int64
 21  quarter         1 non-null      int64
 22  mins_left       1 non-null      int64
 23  secs_left       1 non-null      int64
dtypes: datetime64[ns](1), float64(2), int64(9), object(12)
memory usage: 320.0+ bytes

In [5]:
# Ekstraksi fitur waktu
df_inf["game_year"] = df_inf["game_date"].dt.year
df_inf["game_month"] = df_inf["game_date"].dt.month
df_inf["game_day"] = df_inf["game_date"].dt.day

# drop kolom game_date
df_inf.drop(columns='game_date',inplace=True)

In [6]:
# Drop kolom
df_inf = df_inf.drop(columns=['season_1','season_2','team_id','player_id','position','basic_zone','zone_abb'])
df_inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   team_name       1 non-null      object
 1   player_name     1 non-null      object
 2   position_group  1 non-null      object
 3   game_id         1 non-null      int64
 4   home_team       1 non-null      object
 5   away_team       1 non-null      object
 6   action_type     1 non-null      object
 7   shot_type       1 non-null      int64
 8   zone_name       1 non-null      object
 9   zone_range      1 non-null      object
 10  loc_x           1 non-null      float64
 11  loc_y           1 non-null      float64
 12  shot_distance   1 non-null      int64
 13  quarter         1 non-null      int64
 14  mins_left       1 non-null      int64
 15  secs_left       1 non-null      int64
 16  game_year       1 non-null      int32
 17  game_month      1 non-null      int32
 18  game_day        1 non-null      int32
dtypes: float64(2), int32(3), int64(6), object(8)
memory usage: 268.0+ bytes

In [7]:

# menyimpan nama kolom yang numerik, categorical, encoded,  dan date
num = ['loc_x', 'loc_y','shot_distance','quarter', 'mins_left','secs_left']
cat_nom = ['team_name', 'player_name', 'position_group','home_team','away_team','action_type','shot_type','zone_name']
cat_ord = ['zone_range']

In [8]:
prediction = best_dt_model.predict(df_inf)
prediction

array([0])